.modal-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.7);
}

.modal {
  border-radius: 5px;
  padding: 2rem;
  background-color: white;
  color: black;
  width: 25em;
}

.modal-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
}

.modal-heading h3 {
  flex: 1;
  text-align: center;
  margin: 0;
  color: #1d4ed8;
  letter-spacing: 0.8px;
  font-weight: 700;
  font-size: 20px;
}

.top-close {
  position: absolute;
  right: 0;
  top: -1px;
  transition: 200ms;
}

.top-close svg{
  color: gray;
  padding: 3px;
  cursor: pointer;
}

.top-close:hover {
  transform: scale(1.1);
}

.modal .btn {
  display: block;
  margin: auto; 
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-group label {
  flex: 0 0 30%;
  max-width: 30%;
  padding-right: 10px;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
}

.form-group input {
  flex: 1;
  max-width: 70%;
}

.form-group input,
.form-group select {
  border: 2px solid rgb(114, 114, 114);
  background-color: aliceblue;
  color: rgb(64, 64, 64);
  border-radius: 0.3rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 300;
}

.form-group label {
  margin-bottom: 0.2rem;
}

.errors {
  background-color: rgb(253, 216, 216);
  color: red;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
}

.form-group.status .select-option {
  color: purple;
}

.errors {
  border-radius: 5px;
}