/* Custom styles below */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.table-wrapper {
  width: 100%;
}

.table {
  /* display: block; */
  overflow: hidden;
  table-layout: auto;
  border-collapse: collapse;
  box-shadow: 0px 2px 11px 0px #6786dc;
  border-radius: 10px;
  white-space: nowrap;
  width: 100em;
  max-width: 80%;
  margin: auto;
  /* overflow-x: auto; */
}

.table thead {
  background-color: #ccc;
  color: #222;
}

.table th, .table td {
  padding: 0.8rem;
}

.table td {
  border-top: 0.5px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
}

tr {
  text-align: center;
}

/* tr:hover {
  transform: scale(1.05);
} */

.table tbody tr:hover {
  background-color: #6f6f6f;
}

.label {
  border-radius: 3px;
  padding: 0.3rem;
  color: white;
}

.label-status {
  background-color: #777;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.actions svg {
  cursor: pointer;
}

.delete {
  color: #d66763;
  transition: 200ms;
}

.edit {
  color: rgb(113, 225, 109);
  transition: 200ms;
}

.edit:hover {
  transform: scale(1.3);
}

.delete:hover {
  transform: scale(1.5);
}

.delete:hover {
  color: red;
}

.btn {
  margin-top: 1rem;
  border: none;
  background-color: #1d4ed8;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 2px 11px 0px #6786dc;
}

.btn:hover {
  border: 2px solid #1d4ed8;
}

/* Custom styles above */










/* Discarded Vite styling below */
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
/* Discarded Vite styling above */